<h1><%= @appointment.nice_time %></h1>
<h2>Doctor</h2>
<p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
<h2>Patient</h2>
<p><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>

